.expenses-filter {
  color: rgb(0, 0, 0);
  padding: 0 1.7rem;
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.expenses-filter label {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}
